html {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
html, body {margin: 0; height: 100%; overflow: hidden}

a {
  text-decoration: none;
}

label {
  display: block;
}

.wrapper{
  display: grid;
  height: 100%;
}
