
.calendar-view{
  display: grid;
  grid-template-rows: 64px auto;
}

.calendar-container{
  display: grid;
  grid-template-columns: 257px auto;
  /* border-bottom: #e0e0e0 1px solid; */
}

.calendar-monthview {
  display: grid;
  grid-template-rows: auto 5fr;
  height: 93vh;
  overflow: hidden;
}
.calendar-multiday {
  display: grid;
  grid-template-rows: 80px 127vh;
  border-bottom: #e0e0e0 1px solid;
}

.multiday-dayscontainer {
  display: grid;
  grid-template-columns:45px 1fr;
}
.weekview-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.weekview-day {
  display: grid;
  grid-template-rows: repeat(24, 1fr);
  height: 100%;
}

.dayview-daycontainer {
  display: grid;
  grid-template-columns: 1fr;
}
.hour {
  border-bottom: #e0e0e0 1px solid;
}
.hourlabels {
  display: grid;
  grid-template-rows: repeat(24, 1fr);
  border-right: #e0e0e0 1px solid;
}
.hourlabel {
  display: block;
  position: relative;
  text-align: center;
  font-size: 10px;
  top: 85%;
}

.daylabel {
  color: #757575;
  font-size: 14px;
  border-left: #e0e0e0 1px solid;
}
.view-header {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  border-bottom: #e0e0e0 1px solid;
  border-right: #e0e0e0 1px solid;
}
.calendar-days{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.daylabels {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.gap-left {
  margin-left: 44px;
}

.calendar-sidebar{
  border-right: #e0e0e0 1px solid;
}
